.container {
    display: flex;
  }
  .box {
    height: 600px;
    border: 1px solid black;
  }
  .left-box, .right-box {
    flex: 1;
    padding: 5px;
  }
  .center-box {
    flex: 3;
    border: 3px solid red;
    text-align: center;
    background-color: blueviolet;
  }
.game-box {
    width: 90px;
    height: 100px;
    flex-grow: 1;
    box-sizing: border-box;
    border: 2px solid #fff;
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 8pt;
    color: white;
    padding-right: 5px;
    padding-bottom: 5px;
}

.game-box:nth-child(odd) {
    background-color: black;
    color: white;
}

.game-box:nth-child(even) {
    background-color: red;
    color: black;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-weight: bold;
}

h5 {
    text-align: right;
    font-weight: bold;
}
