.container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 700px;
    margin: 0 auto;
    border: 2px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #3c3c3c;
}

.box {
    width: 100px;
    height: 100px;
    flex-grow: 1;
    box-sizing: border-box;
    border: 2px solid #fff;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 8pt;
    color: white;
    padding-right: 5px;
    padding-bottom: 5px;
}

.box:nth-child(odd) {
    background-color: black;
    color: white;
}

.box:nth-child(even) {
    background-color: red;
    color: black;
}
